html{
  width: 100%;
}
body {
    font-family: Arial, sans-serif;
    background-color: rgb(225, 151, 113);
    margin-top: 100px;
}

h2{
  justify-content: center;
}

.container {
  color: black;
  display: block;
  max-width: 50%;
  height:auto;
  background-color: #FFF;
  padding: 20px;
  border-radius: 5px;
  box-shadow:0 2px 5px;
  margin:0 auto;
  box-sizing: border-box;
}

.todo-app h2{
  color:rgb(203, 103, 32);
  display:flex;
  margin-bottom: 20px;
}

.todo-app h2 img{
  width: 30px;
}

.row{
  display: flex;
  align-items: center ;
  justify-content: space-between;
  background: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}

input{
  flex: 1;
  outline: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background: transparent ;
 }

button {
  padding: 16px 50px;
  font-size: 16px;
  background-color: #ee8b4d;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  cursor: pointer;
}

button:hover {
  background-color: #cf6016;
}

ul li{
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 15px;
  user-select: none;
  cursor: pointer;
  position:relative;
}

ul li::before{
  content: '';
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url(../taskimages/uncheck2.png);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center ;
  top: 7px ;
  left: -20px;
}
ul li.checked {
  color: #555;
  text-decoration: line-through;
}

ul li.checked::before{
  background-image:url(../taskimages/check.png) ;
}

ul li span{
  position: absolute ;
  right: 0px;
  top: 5px;
  width: 40px;
  height: 40px ;
  font-size: 22px;
  color: #555;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}

ul li span:hover{
  background: #edeef0;
}

@media screen and (max-width:800px){
  .button{
    max-width:auto;
    display:block;
  }
}


