html{
  width: 100%;
}
body {
    font-family: Arial, sans-serif;
    margin:0;
    padding: 0;
    background-image: url(../taskimages/bg.jpg);
    background-position: center;
    background-repeat: no repeat;
    background-size: cover;
    background-color: rgba(9, 12, 10, 0.3);
}

.container h2 {
  text-align: center;
  margin-bottom: 20px;
  color:#ca9055;
}

.container {
  color: #ccc;
  display: block;
  max-width: 50%;
  height:auto;
  margin-top: 100px;
  background-color: #54371d;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px;
  margin:0 auto;
  box-sizing: border-box;
}

.image-banner-container {
    max-width: 50%;
    margin: 50px auto;
    background-color: #c8c3bf;
    border-radius: 5px;
    padding: 20px;
    display: block;
    box-shadow: 0 2px 5px;
    box-sizing: border-box;
  }
  
h1 {
    text-align: center;
    color: #ca9055;
  }
  
.form-group {
    margin-bottom: 20px;
    padding-right: 20px;
  }
  
label {
    display: block;
    font-weight: bold;
  }
  
input,
select,
textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #4c7e3c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
button:hover {
    background-color: #1c5509;
  }
  
input[type="radio"] {
    margin-right:0;
  }

.slide{
  overflow: hidden;
  display: inline-block;
  width: 100%;
  position: relative;
}

.slide img {
  display: block;
  width: 100%;
  height: 50vh;
  margin-bottom:auto;
}

.slide-text {
  position: absolute;
  left:0;
  bottom: 0;
  color:#FFF;
  width: 100% ;
  padding: 15px 25px;
  box-sizing: border-box;
  margin-left: auto;
  background-color: rgba(0,0,0,0.5);
}

.slide h3{
  margin: 0;
}

.slide p{
  color: #FFF;
}

.cycle-prev, 
.cycle-next {
  position: absolute;
  top: 30%;
  background-color: #cb985d ;
  color: #555050;
  padding: 1px 10px;
  display: block;
  cursor: pointer;
  font-size: 130%;
  z-index: 1000;
  transition: all 3s;
  opacity: 0.5s;
  margin-left:0px;
 }

 .cycle-next{
   right: 0;
 }
 .cycle-prev{
  left:0;
 }

 .cycle-slideshow:hover .cycle-prev,
 .cycle-slideshow:hover .cycle-next {
   opacity: 1;
 }

 .cycle-pager{
   position: absolute;
   top: 20px;
   z-index: 1003;
   width: 100%;
   text-align: center;
 }


 .cycle-pager span{
  text-indent: -999px ;
  display: inline-block ;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #e69437 ;
  margin: 0px 4px;
  cursor: pointer;
}

.cycle-pager .cycle-pager-active{
  background-color: #000;
}

.btn-a{
  padding: 6px 10px;
  border-radius:5px;
  font-weight: bold;
  text-transform:uppercase;
  background-color: #b36c39;
  color: #54371d ;
  font-size:84%;
  margin-left: 10px;
}

.btn-a :hover{
  background-color: #FFF ;
  color: #b36c39;
}

.form-group {
  margin-bottom: 20px;
  padding-right: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
}

.form-group input[type="radio"] {
  margin-right: 5px;
  margin-bottom: -2px; /* Remove space between radio button icon and text */
}

.gender-options {
  display:-webkit-inline-box;
}

.gender-options label {
  margin-top: 2px;
  margin-left: 10px;
  margin-right: 60px;
}

.form-group-checkbox{
  display:-webkit-inline-box;
}
.form-group-checkbox label{
  margin-left: 20px;
}
  



